.card {
    display: flex;
    flex-direction: row;
}
.card-title {
    color: #252628;
    font-size: 24px;
}
.title {
    color: #343434;
}
.card-description {
    color: #717479;
}
.blog-font-sm {
    font-size: 15px;
    font-weight: 600;
}
.blog-font-time {
    color: green;
}
.blog-font-comment {
    color: blue;
}

/* treatment responsive */
@media only screen and (max-width: 425px){
    .card {
        display: flex;
        flex-direction: column;
    }
    .card img {
        width: 100%;
    }
}