.appointment-res {
    display: flex;
}
.register-responsive {
    display: flex;
    padding: 10px 0px;
}

@media only screen and (max-width: 768px){
    .appointment-res {
        margin: 15px 0px;
    }
    .register-responsive {
        flex-direction: column;
        align-items: center;
    }
    .btn-nav {
        width: 50%;
    }
    .btn-register {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 425px){
    .appointment-res {
        flex-direction: column;
        margin: 15px 0px;
    }
    .contact-text {
        display: none;
    }
    .register-responsive {
        flex-direction: column;
        align-items: center;
    }
    .btn-nav {
        width: 100%;
    }
    .btn-register {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 375px){
    .appointment-res {
        flex-direction: column;
    }
    .contact-text {
        display: none;
    }
    .register-responsive {
        flex-direction: column;
        align-items: center;
    }
    .btn-nav {
        width: 100%;
    }
    .btn-register {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 5px;
    }
    
}
@media only screen and (max-width: 320px){
    .appointment-res {
        flex-direction: column;
    }
    .contact-text {
        display: none;
    }
    .register-responsive {
        flex-direction: column;
        align-items: center;
    }
    .btn-nav {
        width: 100%;
    }
    .btn-register {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 5px;
    }
}